@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@900&family=Poppins:wght@100;200;900&family=Russo+One&display=swap');

body::-webkit-scrollbar {
  display: none;
}

body {
  /* z-index: 5; */
  /* overflow: hid; */
  cursor: auto;
  overflow-x: hidden;
  
}

/* .cursor {
  transition-duration: 200ms;
  transition-timing-function: ease-out;
} */